@if (documentLoader.isLoading()) {
<div class="status">Загрузка документа...</div>
} @else if (documentLoader.error()) {
<div class="status status--error">Ошибка: Документ не найден.</div>
} @else {
<div class="viewer">
  <app-toolbar
    [documentName]="facade.documentName()"
    [zoom]="facade.zoom()"
    (zoomIn)="facade.zoomIn()"
    (zoomOut)="facade.zoomOut()"
    (save)="facade.saveAndExport()"
  >
  </app-toolbar>

  <main class="viewer__viewport" role="document" aria-label="Просмотрщик документа">
    <div class="viewer__document document">
      <div class="document__container" [style.width.%]="facade.zoom()">
        @for (page of pages(); track page.imageUrl;) {
        <section
          class="document__page page"
          [style.aspect-ratio]="pageRatio()"
          [attr.aria-label]="page.label"
        >
          <img
            class="page__image"
            [ngSrc]="page.imageUrl"
            [attr.alt]="page.imageAlt"
            [priority]="page.number === 1"
            sizes="100vw"
            fill
          />
          <div
            class="page__annotations"
            (click)="promptNewAnnotation(page.number, $event)"
            (mousedown)="onAnnotationRegionMousedown()"
            (keydown)="promptNewAnnotationByKey(page.number, $event)"
            role="region"
            tabindex="0"
            [attr.aria-label]="page.annotationsLabel"
          >
            @defer (when facade.annotations().length > 0; prefetch on idle) { @for (annotation of
            facade.annotations(); track annotation.id) { @if (annotation.pageNumber === page.number)
            {
            <div
              appDraggable
              (dragEnd)="facade.updateAnnotationPosition(annotation.id, $event.xPercent, $event.yPercent)"
              [style.left.%]="annotation.x"
              [style.top.%]="annotation.y"
              class="draggable"
            >
              <app-annotation-view
                [annotation]="annotation"
                (events)="onAnnotationEvent(annotation.id, $event)"
              ></app-annotation-view>
            </div>
            } } }
          </div>
        </section>
        }
      </div>
    </div>
  </main>
</div>
}
